<!DOCTYPE html>
<html lang="en">
<body>
<div style="background-color: #f6f7fb; width: 100%; padding: 60px 0; font-family: Open Sans, Arial, Helvetica, sans-serif;">
    <div style="max-width: 600px; margin: 0 auto;">
        <div style="border-radius: 8px; background-color: #fff; border-bottom: 3px solid #ebeef5; overflow: hidden;">
            <img src="https://ik.imagekit.io/studystorm/lock_pRt4nk2yN.gif" width="100%" alt="Verify your email" />
            <div style="padding: 0 25px;">
                <h1 style="font-size: 28px; color: #47505e; font-weight: 600; text-align: center">Your password has been updated</h1>
                <div style="font-size: 18px; white-space: pre-line;">
                    The password for your account ({{ email }}) has been successfully updated.

                    If you did not change your password, please contact us immediately.
                </div>
            </div>
        </div>

        <hr style="border: 1px solid #e1e7ef; width: 80%; margin: 20px auto;" />

        <p style="font-size: 10px; color: #69778c; white-space: pre-line; text-align: center;">
            Copyright © 2023 HEIG-VD.
            Route de Cheseaux 1 CH-1401 Yverdon-les-Bains
            All rights reserved.
        </p>
    </div>
</div>
</div>
</body>
</html>
